@model LoginVM
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Login - Future Stage</title>
    <link rel="stylesheet" href="/SchoolsAssets/css/bootstrap.css">
    <link rel="stylesheet" href="/SchoolsAssets/css/loginstyle.css">
</head>
<body>

    <!-- --------------------------------Main Container----------------------- -->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!-- -------------------------------------Login Container----------------------- -->

        <div class="row p-3 bg-white shadow box-area" style="border-radius: 30px;">

            <!-- ---------------------------------------Left Box---------------------------- -->
            
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe; border-radius: 15px; ">
                <div class="featured-image mb-3">
                    <img src="~/SchoolsAssets/img/1.png" class="img-fluid" style="width:250px">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace;">Future Stage</p>
                <small class="text-white text-center text-wrap" style="width: 20rem;font-family: 'Courier New', Courier, monospace;">Future is a platform for collabortaion between schools & parents</small>
            </div>

            <!-- --------------------------------------Right Box------------------------------ -->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    @if(TempData["Error"] != null)
            {
                        <div class="alert alert-danger">
                            <h2>@TempData["Error"]</h2>
                        </div>
            }
                    <div class="header-text mb-4">
                        <h5 class="text-center">Shool Login</h5>
                        <p>Hello, School</p>
                        <p>We are happy to back you</p>
                    </div>
                    <form asp-action="doLogin">
                        <div class="input-group mb-3">
                            <input asp-for="EmailAddress" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                        </div>
                        <div class="input-group mb-5">
                            <input asp-for="Password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="password">
                        </div>
                        <div class="input-group mb-3">
                            <input class="btn btn-lg btn-primary w-100 fs-6" type="submit" value="Login" />
                        </div>
                        <div class="row">
                            <small>Don't have account? <a asp-action="Register">Register</a></small>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>
</html>