@model School
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Register - Future Stage</title>
    <link rel="stylesheet" href="/SchoolsAssets/css/bootstrap.css">
    <link rel="stylesheet" href="/SchoolsAssets/css/loginstyle.css">
</head>
<body>

    <!-- --------------------------------Main Container----------------------- -->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!-- -------------------------------------Login Container----------------------- -->

        <div class="row p-3 bg-white shadow box-area m-lg-5" style="border-radius: 30px;">

            <!-- ---------------------------------------Left Box---------------------------- -->

            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column left-box" style="background: #103cbe; border-radius: 15px; ">
                <div class="featured-image mb-3">
                    <img src="~/SchoolsAssets/img/1.png" class="img-fluid" style="width:250px">
                </div>
                <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace;">Future Stage</p>
                <small class="text-white text-center text-wrap" style="width: 20rem;font-family: 'Courier New', Courier, monospace;">Future is a platform for collabortaion between schools & parents</small>
            </div>

            <!-- --------------------------------------Right Box------------------------------ -->

            <div class="col-md-6 right-box">
                <div class="row align-items-center">
                    
                    <div class="header-text mb-4">
                        <h5 class="text-center">Register</h5>
                    </div>
                    <form asp-action="Register">
                        <div class="input-group mb-3">
                            <input asp-for="Name" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="School name">
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="EmailID" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="ContactNo" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Contact no">
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="Address" type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Address">
                        </div>
                        <div class="input-group mb-3">
                            <select asp-for="AreaID" asp-items="@ViewBag.Areas" class="form-control form-control-lg bg-light fs-6" placeholder="Email address"></select>
                        </div>
                        <div class="input-group mb-3">
                            <input asp-for="EstablishmentDate" type="date" class="form-control form-control-lg bg-light fs-6" placeholder="Establishment date">
                        </div>
                        <div class="input-group mb-4">
                            <input asp-for="Password" type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                        </div>
                        <div class="input-group mb-3">
                            <input class="btn btn-lg btn-primary w-100 fs-6" type="submit" value="Register" />
                        </div>
                        <div class="row">
                            <small>Aready Have an account? <a asp-action="Register" class="fs-6">Log In</a></small>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </div>

</body>
</html>