<div>
    <h2 class="text-success text-center py-2 mt-2 mb-5 shadow">Welcome to - School Site</h2>
</div>

<div class="row mb-5">
    <div class="col-md-3">
        <div class="card-dashboard new-enquiries-card">
            <h4 class="card-title">New<br /> Enquiries</h4>
            <div class="icon">
                <i class="fas fa-question"></i>
            </div>
            <div class="enquiries">@ViewBag.NewEnquiries</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-dashboard confirmed-enquiries-card">
            <h4 class="card-title">Confirmed<br /> Enquiries</h4>
            <div class="icon">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="enquiries">@ViewBag.ConfirmedEnquiries</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-dashboard new-admission-card">
            <h4 class="card-title">New <br /> Admissions</h4>
            <div class="icon">
                <i class="fas fa-file-alt"></i>
            </div>
            <div class="enquiries">10</div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card-dashboard confirmed-admission-card">
            <h4 class="card-title">Confirmed <br /> Admissions</h4>
            <div class="icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="enquiries">5</div>
        </div>
    </div>
</div>