@model School

@{ 
    ViewData["Title"] = "Update School Profile";
}

<div class="row">
    <div class="text-center">
        <h3 class="alert alert-primary py-2">Update School Profile</h3>
    </div>

    <form asp-action="UpdateSchoolProfile">
        <div class="row">
            <div>
                <input type="hidden" asp-for="Password" />
                <input type="hidden" asp-for="ConfirmPassword" />
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label" asp-for="EmailID"></label>
                <input class="form-control" asp-for="EmailID" />
                <span class="text-danger" asp-validation-for="EmailID"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label" asp-for="ContactNo"></label>
                <input class="form-control" asp-for="ContactNo" />
                <span class="text-danger" asp-validation-for="ContactNo"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label" asp-for="EstablishmentDate"></label>
                <input class="form-control" asp-for="EstablishmentDate" type="date" />
                <span class="text-danger" asp-validation-for="EstablishmentDate"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Choose Area</label>
                <select class="form-select" asp-for="AreaID" asp-items="ViewBag.Areas">
                    <option selected> - select area -</option>
                </select>
                <span class="text-danger" asp-validation-for="Area.AreaName"></span>
            </div>

            <div class="mb-5">

                <label class="form-label" asp-for="Address"></label>
                <textarea class="form-control" asp-for="Address"></textarea>
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <div>

                <input type="submit" value="Update Profile" class="btn btn-lg w-100 btn-primary text-white" />
            </div>
        </div>
    </form>
</div>