@{
Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Schools</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/FrontendAssets/css/style.css" />
</head>
<body>
    @await Html.PartialAsync("_navbar");

    <div class="col-md-6 offset-md-3">
        <h3 class="alert alert-success">Your, Enquiry Submitted Succesfully!</h3>
    </div>

    <div class="footer fixed-bottom">
        @await Html.PartialAsync("_footer");
    </div>
</body>