@model Quoto

@{ 
    ViewData["Title"] = "Add new Quota";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-success text-center py-3 my-5 shadow">Add new Quota</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="QuotoTitle"></label>
                <input class="form-control" asp-for="QuotoTitle" />
                <span class="text-danger" asp-validation-for="QuotoTitle"></span>
            </div>
            <div class="mb-4">
                <label class="form-label" asp-for="QuotoDescription"></label>
                <textarea class="form-control" asp-for="QuotoDescription" ></textarea>
                <span class="text-danger" asp-validation-for="QuotoDescription"></span>
            </div>
            <div class="mb-3">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input class="btn btn-outline-success float-end" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>