@using Microsoft.AspNetCore.Http
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>crud dashboard</title>

    <link href="~/SchoolsAssets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/SchoolsAssets/css/custom.css" />


    <script src="~/SchoolsAssets/js/jquery-3.3.1.min.js"></script>
    <script src="~/SchoolsAssets/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/SchoolsAssets/js/popper.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

</head>
<body>



    <div class="wrapper">

        <div class="body-overlay"></div>

        <!-------sidebar--design------------>

        <div id="sidebar">
            <div class="sidebar-header">
                <h3><img src="~/SchoolsAssets/img/logo1.png" class="img-fluid" /><span>Future Stage</span></h3>
            </div>
            <ul class="list-unstyled component m-0">
                <li class="active">
                    <a href="#" class="dashboard"><i class="material-icons">dashboard</i>dashboard </a>
                </li>

                <li class="dropdown">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false"
                       class="dropdown-toggle">
                        <i class="material-icons">
                            question_answer
                        </i> Enquiry
                    </a>
                    <ul class="collapse list-unstyled menu" id="homeSubmenu1">
                        <li><a asp-action="Index" asp-controller="AdmissionEnquiry" asp-area="Schools">New Enquiry</a></li>
                        <li><a asp-action="EnquiryConfirmed" asp-controller="AdmissionEnquiry" asp-area="Schools">Confirmed Enquiry</a></li>
                    </ul>
                </li>

                <li>
                    <a asp-action="Index" asp-controller="FeeHead" asp-area="Schools"><i class="material-icons">date_range</i>FeeHead </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolStandard" asp-area="Schools"><i class="material-icons">date_range</i>School Standard </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolFacility" asp-area="Schools" class=""><i class="material-icons">date_range</i>Facility </a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="SchoolAchivement" asp-area="Schools" class=""><i class="material-icons">date_range</i>Achivements </a>
                </li>
                <li class="">
                    <a  class="" asp-action="Index" asp-controller="StandardFees" asp-area="Schools"><i class="material-icons">date_range</i>Standard Fees</a>
                </li>
                <li class="">
                    <a asp-action="Index" asp-controller="Admission" asp-area="Schools" class=""><i class="material-icons">date_range</i>Admissions </a>
                </li>

                <li class="">
                    <a asp-action="Index" asp-controller="SchoolEducationBoards" asp-area="Schools" class=""><i class="material-icons">date_range</i>Boards</a>
                </li>

                <li class="">
                    <a href="#" class=""><i class="material-icons">library_books</i>calender </a>
                </li>

            </ul>
        </div>

        <!-------sidebar--design- close----------->
        <!-------page-content start----------->

        <div id="content">

            <!------top-navbar-start----------->

            <div class="top-navbar">
                <div class="xd-topbar">
                    <div class="row">
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">signal_cellular_alt</span>
                            </div>
                        </div>

                        <div class="col-10 col-md-11 col-lg-11 order-1 order-md-3">
                            <div class="xp-profilebar text-right">
                                <nav class="navbar p-0">
                                    <ul class="nav navbar-nav flex-row ml-auto">

                                        <li class="dropdown nav-item">
                                            <a class="nav-link" href="#" data-toggle="dropdown">
                                                <span class="material-icons" style="font-size:30px">
                                                    person
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu small-menu">
                                                <li>
                                                    <a asp-action="SchoolProfile" asp-controller="Home" asp-area="Schools" asp-route-id="@Context.Session.GetString("ID")">
                                                        <span class="material-icons">person_outline</span>
                                                        My Profile
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="ChangePassword" asp-controller="ManageSchools" asp-area="">
                                                        <span class="material-icons">settings</span>
                                                        Settings
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="Logout" asp-controller="ManageSchools" asp-area="">
                                                        <span class="material-icons">logout</span>
                                                        Logout
                                                    </a>
                                                </li>

                                            </ul>
                                        </li>


                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <!------top-navbar-end----------->
            <!------main-content-start----------->



            <div class="main-content">
                <div class="row">
                    <div class="col-md-12">

                        @RenderBody()

                        
                    </div>
                </div>
            </div>

            <!------main-content-end----------->
            <!----footer-design------------->

            <footer class="footer">
                <div class="container-fluid">
                    <div class="footer-in">
                        <p class="mb-0">&copy 2023 Future Stage. All Rights Reserved.</p>
                    </div>
                </div>
            </footer>




        </div>

    </div>



    @if(TempData["SuccessMessage"] != null)
            {
                <script>
                    $(function () {
                        toastr.success('@TempData["SuccessMessage"]', 'Success Alert', { timeOut: 3000, "closeButton": true });
                    });
                </script>
            }



    <script type="text/javascript">
        $(document).ready(function () {
            $(".xp-menubar").on('click', function () {
                $("#sidebar").toggleClass('active');
                $("#content").toggleClass('active');
            });

            $('.xp-menubar,.body-overlay').on('click', function () {
                $("#sidebar,.body-overlay").toggleClass('show-nav');
            });

        });
    </script>





</body>



</html>


