@model SchoolStandard

@{ 
    ViewData["Title"] = "Add new School Standard";
}



<div class="p-2 col-md-8 offset-md-2">
    <h3 class="alert alert-primary text-center p-0 mb-5">Add new School Standard</h3>

    <form asp-action="Create">
        <div class="row mb-4">
            <div class="col-md">
                <div>
                    <label class="form-label">Select Standard</label>
                    <select class="form-select" asp-for="StandardID" asp-items="ViewBag.Standards"></select>
                    <span class="text-danger" asp-validation-for="StandardID"></span>
                </div>
            </div>
            <div class="col-md">
                <div>
                    <label class="form-label">Intake Capacity</label>
                    <input id="intakecapacity" asp-for="IntakeCapacity" type="number" class="form-control" readonly />
                </div>
            </div>
        </div>
        <div class="mb-5" style="border:1px solid black;padding:1rem 2rem 1rem 2rem">
            @await Component.InvokeAsync("QuotoVC")

        </div>
        <div class="mb-5">
            <a asp-action="Index" class="btn btn-outline-secondary">Show All</a>
            <input type="submit" value="Create" class="btn btn-outline-success float-end" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('.noofseats').on('input', function () {
            var sum = 0;
            $('.noofseats').each(function () {
                var inputValue = parseInt($(this).val());

                if (!isNaN(inputValue)) {
                    sum += inputValue;
                }
            });
            $('#intakecapacity').val(sum);
        });
    });
</script>
    
