@model string

<div style="position:fixed;right:25px;bottom:25px" class="text-white">
    <a  class="buttonCreateItem" asp-action="Create" asp-controller="@Model">
        <i class="fa-solid fa-plus"></i> Add New
    </a>
</div>