@model string

<div style="position:fixed;right:25px;bottom:25px" class="text-white">
    <a data-bs-toggle="modal" data-bs-target="#createModal" class="buttonCreateItem" >
        <i class="fa-solid fa-plus"></i> Add New
    </a>
</div>