@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Future Stage - Site Admin</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/SiteAdminAssets/img/favicon.png" />

    <!-- Bootstrap CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/SiteAdminAssets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    
</head>
<body>

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4 class="shadow py-2"> <img class="bg-white shadow p-1" src="~/SiteAdminAssets/img/logo1.png" height="30" /> 
                   futureStage
                </h4>
            </div>
                <p>Welcome - Admin</p>
            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" aria-controls="homeSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdown font-weight-bold">
                        Config <i class="fa-solid fa-gear ms-1"></i>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="State" asp-area="SiteAdmin">State</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="City" asp-area="SiteAdmin">
                                City
                            </a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Area" asp-area="SiteAdmin">Area</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="#pageSubmenu" aria-controls="pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle dropdown font-weight-bold">  App Config <i class="fa-solid fa-gears ms-1"></i> </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a asp-action="Index" asp-controller="Facility" asp-area="SiteAdmin">Facility</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Standard" asp-area="SiteAdmin">Standard</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="EducationBoard" asp-area="SiteAdmin">Education Board</a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Quota" asp-area="SiteAdmin">Quota</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Service</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light">

                <button type="button" id="sidebarCollapse" class="btn">
                    <i class="fa fa-align-justify"></i>
                </button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-primary">SITE ADMIN</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()

            </div>
            
        </div>
    </div>

    <!-- optional javascript -->
    <!-- jQuery first, Popper.js, then BootStrap JS -->
    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>-->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sidebarCollapse").on('click', function () {
                $("#sidebar").toggleClass('active');
            })
        })
    </script>
</body>
</html>