@model Area

@{ 
    ViewData["Title"] = "Update Area";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-primary text-center shadow py-3 my-5">Update Area</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <form asp-action="Edit">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div><input asp-for="ID" type="hidden" /></div>
            <div class="mb-3">
                <label class="form-label" asp-for="AreaName"></label>
                <input class="form-control" asp-for="AreaName" />
                <span class="text-danger" asp-validation-for="AreaName"></span>
            </div>
            <div class="mb-4">
                <label class="form-label" asp-for="City.CityName"></label>
                <select class="form-control" asp-for="CityID" asp-items="@ViewBag.Cities" >
                    <option value=""> - Select City - </option>
                </select>
                <span class="text-danger" asp-validation-for="City.CityName"></span>
            </div>
            <div class="mb-3">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input class="btn btn-outline-primary float-end" type="submit" value="Update" />
            </div>
        </form>
    </div>
</div>