@model IEnumerable<Area>

@{
    ViewData["Title"] = "List of Areas";
}

<div class="row">
    <div class="col-md-10 offset-md-1 mt-5">
        <h4 class=" table-title shadow py-3 mt-5">AREAS</h4>
    </div>
    <div class="col-md-10 offset-md-1">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">Area Name</th>
                    <th class="align-middle">City Name</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">@item.AreaName</td>
                        <td class="align-middle">@item.City.CityName</td>
                        <td class="align-middle">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary action-btn me-1" asp-action="Edit" asp-route-id="@item.ID">
                                    <span class="d-md-none"><i class="fa-regular fa-pen-to-square"></i></span>
                                    <span class="d-none d-md-inline">
                                        <i class="fa-regular fa-pen-to-square"></i> Edit
                                    </span>
                                </a>
                                <a class="btn btn-danger text-white action-btn" asp-action="Delete" asp-route-id="@item.ID">
                                    <span class="d-md-none"><i class="fa-regular fa-trash-can"></i></span>
                                    <span class="d-none d-md-inline">
                                        <i class="fa-regular fa-trash-can"></i> Delete
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@await Html.PartialAsync("_CreateItem", "Area")