@model AdmissionVM


<div class="col-md-8 offset-md-2 bg-dark">
    <h3 class="text-center text-white my-5">Updates Admission Prequisite & Process</h3>
</div>
<div class="col-md-6 offset-md-3">
    <form asp-action="Edit">
        <div class="mb-3">
            <label class="form-label">Select Standard</label>
            <select class="form-select" asp-for="SchoolStandardID" asp-items="ViewBag.SchoolStandards"></select>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="PrequisiteTitle"></label>
                    <input asp-for="PrequisiteTitle" class="form-control" />
                    <span class="text-danger" asp-validation-for="PrequisiteTitle"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="PrerequisiteDescription"></label>
                    <input class="form-control" asp-for="PrerequisiteDescription" />
                    <span class="text-danger" asp-validation-for="PrerequisiteDescription"></span>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label" asp-for="ProcessTitle"></label>
                    <input class="form-control" asp-for="ProcessTitle" />
                    <span class="text-danger" asp-validation-for="ProcessTitle"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" asp-for="ProcessDescription"></label>
                    <input class="form-control" asp-for="ProcessDescription" />
                    <span class="text-danger" asp-validation-for="ProcessDescription"></span>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="submit" class="btn btn-outline-primary float-end" value="Update" />
            <a class="btn btn-outline-secondary" asp-action="Index">Back</a>
        </div>
    </form>
</div>


