@model SchoolAchivement

@{
    ViewData["Title"] = "Add new School Achivement";
}

<div class="row">

    <div class="col-md-8 offset-md-2">
        <h3 class="alert alert-primary text-center my-5 p-0">Add new School Achivement</h3>
    </div>
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div class="mb-3">
                <label class="form-label" asp-for="AchivementTitle"></label>
                <input class="form-control" asp-for="AchivementTitle" />
                <span class="text-danger" asp-validation-for="AchivementTitle"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="AchivementDate"></label>
                <input class="form-control" type="date" asp-for="AchivementDate" />
                <span class="text-danger" asp-validation-for="AchivementDate"></span>
            </div>
            <div class="mb-5">
                <label class="form-label" asp-for="AchivementDescription"></label>
                <input class="form-control" asp-for="AchivementDescription" />
                <span class="text-danger" asp-validation-for="AchivementDescription"></span>
            </div>
            <div class="mb-3">
                <a asp-action="Index" class="btn btn-outline-secondary">Show All</a>
                <input type="submit" class="btn btn-outline-success float-end" value="Create" />
            </div>
        </form>
    </div>

</div>