@model StandardFees

@{
    ViewData["Title"] = "Add Fees";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="col-md-12 my-2">
        <div id="myAlert" class="alert alert-hide alert-success alert-dismissible fade show" role="alert">
            <strong>Success!</strong>  @TempData["AlertMessage"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
}

<div class="table-wrapper">

    <div class="table-title">
        <div class="row">
            <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
                <h2 class="ml-lg-2">Add Fees</h2>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="text-center">
                <th>
                    Sr. No
                </th>
                <th>Standard</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            @{ int no = 1;
                foreach (var item in ViewBag.SchoolStandards)
                {
                    <tr class="text-center">
                        <td>
                            @no
                        </td>
                        <td>@item.Standard.StandardName</td>
                        <td>
                            <a data-toggle="modal" data-target="#addModal" data-item-id="@item.ID" class="btn btn-primary text-white add-btn">
                                Add Fees
                            </a>
                        </td>
                    </tr>

                    no++;
                }
            }
        </tbody>


    </table>

    

</div>

<!-- add - model - start -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add Fees</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Create">
                <div class="modal-body">
                    <div class="form-group">
                        <input asp-for="ID" value="0" type="hidden" />
                        <input asp-for="SchoolStandardID" type="hidden" />
                    </div>
                    <div class="form-group">
                        <label>FeeHead</label>
                        <select asp-for="FeeHeadID" asp-items="ViewBag.FeeHeads" class="form-control">
                            <option disabled> - select feehead -</option>
                        </select>
                        <small><span class="text-danger" asp-validation-for="FeeHeadID"></span></small>
                    </div>
                    <div class="form-group">
                        <label class="form-label" asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" />
                        <small><span class="text-danger" asp-validation-for="Amount"></span></small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </form>
        </div>
    </div>
</div>
<!-- add - model - end -->


<script>
    $(document).ready(function () {
        $('.add-btn').click(function () {
            var itemId = $(this).data('item-id');

            $('#addModal #SchoolStandardID').val(itemId);
        });
    });
</script>