@model FeeHead

@{
    ViewData["Title"] = "Update Fee Head";
}

<div class="p-2 col-md-8 offset-md-2">
    <h3 class="alert alert-primary text-center p-0 mb-5">Update Fee Head</h3>

    <form asp-action="Edit">
        <div class="mb-3">
            <label asp-for="FeeHeadTitle" class="form-label"> </label>
            <input type="email" class="form-control" asp-for="FeeHeadTitle">
            <span class="text-danger" asp-validation-for="FeeHeadTitle"></span>
        </div>
        <div class="mb-5">
            <label class="form-label" asp-for="FeeHeadDescription"></label>
            <textarea asp-for="FeeHeadDescription" class="form-control"></textarea>
        </div>
        <a asp-action="Index" class="btn btn-outline-secondary w-25">Show All</a>
        <input type="submit" value="Update" class="btn btn-outline-primary float-end w-25" />
    </form>
</div>

