@model City

@{ 
    ViewData["Title"] = "Add new City";
}

<div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-success text-center shadow py-3 my-5">Add new City</h2>
    </div>
    <div class="col-md-6 offset-md-3">
        <form asp-action="Create">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                <label class="form-label" asp-for="CityName"></label>
                <input class="form-control" asp-for="CityName" />
                <span class="text-danger" asp-validation-for="CityName"></span>
            </div>
            <div class="mb-4">
                <label class="form-label" asp-for="State.StateName"></label>
                <select class="form-control" asp-for="StateID" asp-items="@ViewBag.States">
                    <option value="">- Select State -</option>
                </select>
            </div>
            <div class="mb-3">
                <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                <input class="btn btn-outline-success float-end" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>