<div style="margin-top:10rem;">
    <h2 class="my-5 py-3 shadow text-primary text-center">Welcome to Site Admin</h2>
</div>


<div class="row" style="margin-top:4rem;">
    <div class="col-md-3">
        <div class="dashboard-circle">
            <div class="circle-icon">
                <i class="fas fa-users"></i>
            </div>
            <span class="circle-label">Users</span>
            <span class="circle-value">@ViewBag.Users</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-circle">
            <div class="circle-icon">
                <i class="fas fa-school"></i>
            </div>
            <span class="circle-label">Schools</span>
            <span class="circle-value">@ViewBag.Schools</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-circle">
            <div class="circle-icon blocked">
                <i class="fas fa-users-slash"></i>
            </div>
            <span class="circle-label">Blocked Users</span>
            <span class="circle-value">150</span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="dashboard-circle">
            <div class="circle-icon blocked">
                <i class="fas fa-school"></i>
            </div>
            <span class="circle-label">Blocked Schools</span>
            <span class="circle-value">5</span>
        </div>
    </div>
</div>