@model IEnumerable<State>

@{ 
    ViewData["Title"] = "List of states";
}

<div class="row">
    <div class="col-md-8 offset-md-2 mt-5">
        <h2 class="text-center text-success shadow my-5 py-3">List of States</h2>
    </div>
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th class="align-middle">@Html.DisplayNameFor(m => m.StateName)</th>
                    <th class="align-middle">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
            {
                <tr class="text-center">
                    <td class="align-middle">@item.StateName</td>
                    <td class="align-middle">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.ID">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        |
                        <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.ID">
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "State")