.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 30px;
}

    .form-group label {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-group .form-control {
        border-radius: 20px;
    }

    .form-group .btn-primary {
        width: 100%;
        border-radius: 20px;
        background-color: #ff0a54;
        border:none;
        padding:10px 10px;
    }

        .form-group .btn-primary:hover {
            background-color: #ab0336;
        }

/* Responsive Styles */
@media (max-width: 576px) {
    .container {
        padding: 10px;
    }
}
