.container-filter {
    max-width: 600px;
    margin: 40px auto;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .search-bar select,
    .search-bar input[type="text"] {
        flex: 1;
        padding: 7px;
        border: none;
        outline: none;
        font-size: 13px;
        color: #555;
    }

    .search-bar select {
        border-right: 1px solid #e5e5e5;
    }

    .search-bar form{
        width:80%;
    }

    .search-bar button {
        padding: 14px 20px;
        background-color: #FF5E3A;
        color: #fff;
        border: none;
        border-radius: 0 30px 30px 0;
        font-size: 16px;
        cursor: pointer;
    }

        .search-bar button:hover {
            background-color: rgb(220 70 36);
        }

        .search-bar button:focus {
            outline: none;
        }


        .big-search{
            margin-top:2rem;
        }

@media (max-width: 1200px) {
    .search-bar select,
    .search-bar input[type="text"] {
        flex: 1;
        padding: 2px;
        border: none;
        outline: none;
        font-size: 12px;
        color: #555;
    }

    .search-bar button {
        padding: 13px 9px;
        background-color: #FF5E3A;
        color: #fff;
        border: none;
        border-radius: 0 30px 30px 0;
        font-size: 12px;
        cursor: pointer;
    }

    .big-search .search-bar input{
        height:55px;
    }
    .big-search .search-bar{
        width:340px;
    }
}




@media( max-width:1018px){
    .search-bar{
        display:none;
    }
}
