<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>About Us</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis volutpat quam. Sed aliquet urna eget
                    lectus
                    gravida, id varius velit eleifend.
                </p>
            </div>
            <div class="col-md-3">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <p>123 Street, City, Country</p>
                <p>Email: info@example.com</p>
                <p>Phone: +1 123-456-7890</p>
            </div>
        </div>
    </div>
</footer>