<footer class="bg-dark p-3" style="font-size: 14px; color: #ffffffe8;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <h5>Boarding Schools</h5>
                <ul>
                    <li>Boarding Schools in Himachal Pradesh</li>
                    <li>Boarding Schools in Uttarakhand</li>
                    <li>Boarding Schools in Karnataka</li>
                    <li>Boarding Schools in Maharashtra</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>Popular Boarding Searches</h5>
                <ul>
                    <li>Boarding Schools in India</li>
                    <li>International Boarding Schools in India</li>
                    <li>Boarding Schools for Girls in India</li>
                </ul>
            </div>
            <div class="col-6 d-none d-md-block d-lg-block col-md-4">
                <h5>Boarding Schools in Cities</h5>
                <ul>
                    <li>Boarding Schools in Dehradun</li>
                    <li>Boarding Schools in Sonipat</li>
                    <li>Boarding Schools in Kolkata</li>
                    <li>Boarding Schools in Shimla</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
                <h5>Schools</h5>
                <ul>
                    <li>Schools in Delhi</li>
                    <li>Schools in Bangalore</li>
                    <li>Schools in Pune</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>About</h5>
                <ul>
                    <li>About Us</li>
                    <li>Privacy Policy</li>
                    <li>Terms of Use</li>
                </ul>
            </div>
            <div class="col-6 col-md-4">
                <h5>Contact Us</h5>
                <ul>
                    <li>Email: info@example.com</li>
                    <li>Phone: 123-456-7890</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
