@model LoginVM

    @{
        Layout = null;
    }
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/SiteAdminAssets/css/LoginStyleSheet.css" rel="stylesheet" />

</head>
<body>


    <div class="container">
        <h1>Admin Login</h1>

        <form asp-action="doLogin">
            <div class="form-group">
                <input class="form-control" asp-for="EmailAddress" placeholder="Email address">
                <i class="fas fa-user"></i>
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                <i class="fas fa-lock"></i>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
    </div>


    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>

    <script>
        $(function () {

            var errorMessage = '@Html.Raw(ViewData["ErrorMessage"])';
            if (errorMessage) {
                toastr.error(errorMessage, 'Error Alert', { timeOut:3000, "closeButton" : true});
            }
        });
    </script>
    }
</body>
